#map {
	height: 100%;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
    }
.pics{
	max-height: 200px;
	margin-left: 0px;
	margin-right: auto;
}
.list{
	margin: auto;
	vertical-align: top;
	text-align: left;
	display: inline-block;
	list-style-type: none;
}