HEADER {
    /* background-image: linear-gradient(90deg, #9AC991, #85DE73,#4CAF38,#269911,#89B281); */
    background-color: #88B04B;
    padding: 1px;
    text-align: left;
    font-size: 30px;
    color: black;
    
}

#selected{
    display:inline-block;
    padding:0.35em 1.2em;
    border: 0.1em solid WhiteSmoke;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: 100;
    color: WhiteSmoke;
    text-align: center;
    transition: all 0.2s;
}

h2{
    position: absolute;
    top: .4em;
    left: .5em;
    margin: 0;
    float: left;
    display: inline;
    
}
* {
    box-sizing: border-box;
    font-family: Helvetica;
}


.button{
    display:inline-block;
    padding:0.35em 1.2em;
    border: 0.1em solid rgb(0, 0, 0);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: 100;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: all 0.2s;
}

.button:hover{
    color: #000000;
    background-color: WhiteSmoke;
}

@media only screen and (max-width: 1200px){
    .button{
        font-size: 50%
    }
}