
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.frame {
	width: 20vw;
        background-color: WhiteSmoke;
}

.gm-style img {
	width: 100%;
}

p{
    text-indent: 30px;
}

label{
    color: #88B04B;
    backgroud-color: WhiteSmoke;
    font-weight: bold;
}