#map {
	height: 100%;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
    		}
.pictures{
	max-width:50%;
}

.textcontainer{
	overflow: auto;
}
.list{
	margin: auto;
	vertical-align: top;
	text-align: left;
	display: inline-block;
	list-style-type: none;
}
#div{
	display: inline-block;
	float:left;
	width: 50%;
}