body{
    background-color: WhiteSmoke;
}

form{
    font: Helvetica;
    padding: 10px;
}

@media only screen and (min-width: 1201px){
    label{
        width: 50px;
        display: inline-block;
        text-align: right;
        margin-right: 20px;
    }

    input[type=text], select{
        width: 350px;
        padding: 10px;
        margin: 6px 0;
        border: 1px solid #aaa;
        border-radius: 4px;
    }
    
    input[type=number], select{
        width: 350px;
        padding: 10px;
        margin: 6px 0;
        border:1px solid #aaa;
        border-radius: 4px;
    }
}
input[type=submit]:hover {
    background-color: #88B04B;
}

input[type=file]:hover {
    background-color: #88B04B;
}

@media only screen and (max-width: 1200px){
    label{
        width: 150%;
        display: inline-block;
        text-align: left;
        margin-right: 20px;
    }
    
    input[type=text], select{
        width: 150%;
        padding: 10px;
        margin: 6px 0;
        border: 1px solid #aaa;
        border-radius: 4px;
    }
    
    input[type=number], select{
        width: 150%;
        padding: 10px;
        margin: 6px 0;
        border:1px solid #aaa;
        border-radius: 4px;
    }
}
